<div class="page-header">
  <h3>Recommendation #<%= @recommendation.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @recommendation.name %></dd>

      <dt>Address</dt>
      <dd><%= @recommendation.address %></dd>

      <dt>Latitude</dt>
      <dd><%= @recommendation.latitude %></dd>

      <dt>Longitude</dt>
      <dd><%= @recommendation.longitude %></dd>

      <dt>Experience</dt>
      <dd><%= @recommendation.experience_id %></dd>

      <dt>User</dt>
      <dd><%= @recommendation.user_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/recommendations" class="btn btn-primary">
        Back
      </a>
      <a href="/recommendations/<%= @recommendation.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_recommendation/<%= @recommendation.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
