<!-- Validation failure messages -->
<% if @experience.errors.any? %>
  <% @experience.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Experience #<%= @experience.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_experience/<%= @experience.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for location -->
      <div class="form-group">
        <label for="location" class="control-label">
          Location
        </label>

        <input type="text" id="location" name="location" placeholder="Location" class="form-control" value="<%= @experience.location %>">
      </div>

      <!-- Label and input for when -->
      <div class="form-group">
        <label for="when" class="control-label">
          When
        </label>

        <input type="text" id="when" name="when" placeholder="When" class="form-control" value="<%= @experience.when %>">
      </div>

      <!-- Label and input for meal_type -->
      <div class="form-group">
        <label for="meal_type" class="control-label">
          Meal type
        </label>
        <select name="meal_type" id="meal_type" class="form-control input-sm">
            <option value="Breakfast">Breakfast</option>
            <option value="Brunch">Brunch</option>
            <option value="Lunch">Lunch</option>
            <option value="Dinner">Dinner</option>
            <option value="Drinks">Drinks</option>
            <option value="Desserts">Desserts</option>
        </select>
      </div>
      
      <!-- Label and input for description -->
      <div class="form-group">
        <label for="description" class="control-label">
          Description
        </label>

        <textarea id="description" name="description" placeholder="Description" class="form-control" rows="3"><%= @experience.description %></textarea>
      </div>

      <button class="btn btn-warning">
        Update Experience
      </button>
      or
      <a href="/experiences/<%= @experience.id %>">Cancel</a>
    </form>
  </div>
</div>
