<div class="page-header">
  <h3>Experience #<%= @experience.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Location</dt>
      <dd><%= @experience.location %></dd>

      <dt>When</dt>
      <dd><%= @experience.when %></dd>

      <dt>Description</dt>
      <dd><%= @experience.description %></dd>

      <dt>Meal type</dt>
      <dd><%= @experience.meal_type %></dd>

      <dt>User</dt>
      <dd><%= User.find_by({ :id => @experience.user_id }).username %></dd>

    </dl>















    
    <div class="container">
    
    <h4><b>Recommendations from Zomato!</b></h4>
      <!-- Example row of columns -->
      <div class="row">

        <div class="col-md-4">
          <h4><%=@reco_one["name"]%></h4>
          <h5><b><%=@reco_one["location"]["city"]%></b></h5>
          <h5><%=@reco_one["location"]["address"]%></h5>
          <p></p>
          <h7><b>Cuisines:</b> <%=@reco_one["cuisines"]%></h7><br />
          <h7><b>Rating:</b> <%=@reco_one["user_rating"]["rating_text"]%></h7><br />
          <h7><b>Avg Cost for Two:</b> <%=@reco_one["currency"]%><%=number_with_precision(@reco_one["average_cost_for_two"],:precision => 2)%></h7><br />
          <p><a class="btn btn-secondary" target="_blank" href="<%=@reco_one["url"]%>" role="button">View details &raquo;</a></p>
        </div>

        <div class="col-md-4">
          <h4><%=@reco_two["name"]%></h4>
          <h5><b><%=@reco_two["location"]["city"]%></b></h5>
          <h5><%=@reco_two["location"]["address"]%></h5>
          <p></p>
          <h7><b>Cuisines:</b> <%=@reco_two["cuisines"]%></h7><br />
          <h7><b>Rating:</b> <%=@reco_two["user_rating"]["rating_text"]%></h7><br />
          <h7><b>Avg Cost for Two:</b> <%=@reco_two["currency"]%><%=number_with_precision(@reco_two["average_cost_for_two"],:precision => 2)%></h7><br />
          <p><a class="btn btn-secondary" target="_blank" href="<%=@reco_two["url"]%>" role="button">View details &raquo;</a></p>
        </div>

        <div class="col-md-4">
          <h4><%=@reco_three["name"]%></h4>
          <h5><b><%=@reco_three["location"]["city"]%></b></h5>
          <h5><%=@reco_three["location"]["address"]%></h5>
          <p></p>
          <h7><b>Cuisines:</b> <%=@reco_three["cuisines"]%></h7><br />
          <h7><b>Rating:</b> <%=@reco_three["user_rating"]["rating_text"]%></h7><br />
          <h7><b>Avg Cost for Two:</b> <%=@reco_three["currency"]%><%=number_with_precision(@reco_three["average_cost_for_two"],:precision => 2)%></h7><br />
          <p><a class="btn btn-secondary" target="_blank" href="<%=@reco_three["url"]%>" role="button">View details &raquo;</a></p>
        </div>        
      
      </div>

      <hr>

    </div> <!-- /container -->
    
    
    <div class="card search-snippet-card search-card  ">
      
      </div>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <div class="btn-group btn-group-justified">
      <a href="/experiences" class="btn btn-primary">
        Back
      </a>
      <a href="/experiences/<%= @experience.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_experience/<%= @experience.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
